<h1>Link's Photos</h1>

<table>
  

  <tbody>

    <% @link.photos.each do |photo| %>
      <% link = @link %>
        <tr><td>Photo <%= photo.id %>:<%= image_tag photo.photo %></td></tr>
        <tr><td><%= link_to "Delete", link_photo_path(link, photo),
                          :data => {:method => "delete"},
                          :class => "btn btn-danger" %></td></tr>>
        
            
    <% end %>
  </tbody>
</table>